flows/Calculate_Copado_Robotic_Testing_ACV_on_Quote.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Calculate_ACV_of_CRT_Products</name>
        <label>Calculate_ACV_of_CRT_Products</label>
        <locationX>1098</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateACVOfCRTProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_QuoteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_ACV_of_Success_Product</name>
        <label>Calculate ACV of Success+ Product</label>
        <locationX>1070</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>CopadoSuccessPlusCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_QuoteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_ACV_of_Success_Products</name>
        <label>Calculate ACV of Success Products</label>
        <locationX>1111</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>CopadoSuccessCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_QuoteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_1_15</name>
        <label>Total*1.15</label>
        <locationX>624</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuotelinesWithCopadoSuccess</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_1_25</name>
        <label>Total*1.25</label>
        <locationX>190</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuotelinesWithCopadoSuccessPlus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Copado_Robotic_Testing_ACV_field_zero</name>
        <label>Update Copado Robotic Testing ACV field zero</label>
        <locationX>658</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Record.Copado_Robotic_Testing_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_Quote</name>
        <label>update Quote</label>
        <locationX>422</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>$Record.Copado_Robotic_Testing_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalAmount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Total_Amount_not_null</name>
        <label>Check_Total_Amount_not_null</label>
        <locationX>424</locationX>
        <locationY>423</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Amount_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>containsSuccess_0</targetReference>
            </connector>
            <label>Total Amount not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>containsSuccess_0</name>
        <label>containsSuccess/+</label>
        <locationX>415</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>update_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change to Total</defaultConnectorLabel>
        <rules>
            <name>containsCopadoSuccess_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CopadoSuccessCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_1_15</targetReference>
            </connector>
            <label>containsCopadoSuccess</label>
        </rules>
        <rules>
            <name>containsCopadoSuccessPlus_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CopadoSuccessPlusCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_1_25</targetReference>
            </connector>
            <label>containsCopadoSuccess+</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_CRT_Success_Success_plus_product</name>
        <label>If_CRT_Success_Success_plus_product</label>
        <locationX>681</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copado_Success_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_QuoteLines.SBQQ__Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copado Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_ACV_of_Success_Products</targetReference>
            </connector>
            <label>Copado Success product</label>
        </rules>
        <rules>
            <name>Copado_Success_plus_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_QuoteLines.SBQQ__Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copado Success+</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_ACV_of_Success_Product</targetReference>
            </connector>
            <label>Copado Success plus product</label>
        </rules>
        <rules>
            <name>CRT_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_QuoteLines.SBQQ__Product__r.Product_Grouping__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_ACV_of_CRT_Products</targetReference>
            </connector>
            <label>CRT Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>quoteLines_not_null</name>
        <label>quoteLines not null</label>
        <locationX>460</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Update_Copado_Robotic_Testing_ACV_field_zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>QuoteLines not found</defaultConnectorLabel>
        <rules>
            <name>If_QuoteLines_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQuoteLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_on_QuoteLines</targetReference>
            </connector>
            <label>If QuoteLines found</label>
        </rules>
    </decisions>
    <description>Updated to try recalculation if CRT ACV is null for any reason</description>
    <formulas>
        <name>CalculateACVOfCRTProduct</name>
        <dataType>Currency</dataType>
        <expression>{!loop_on_QuoteLines.SBQQ__NetTotal__c} / {!loop_on_QuoteLines.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c} * 12</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <name>CalculateACVOfSuccessPlusProduct</name>
        <dataType>Currency</dataType>
        <expression>{!loop_on_QuoteLines.SBQQ__NetTotal__c} / {!loop_on_QuoteLines.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c} * 12 * 1.25</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <name>CalculateACVOfSuccessProduct</name>
        <dataType>Currency</dataType>
        <expression>({!loop_on_QuoteLines.SBQQ__NetTotal__c} / {!loop_on_QuoteLines.SBQQ__Quote__r.PS_CPQ_Term_in_Months__c}) * 12 * (1.15)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>QuotelinesWithCopadoSuccess</name>
        <dataType>Currency</dataType>
        <expression>{!TotalAmount} * 1.15</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>QuotelinesWithCopadoSuccessPlus</name>
        <dataType>Currency</dataType>
        <expression>{!TotalAmount} * 1.25</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculate Copado Robotic Testing ACV on Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Copado Robotic Testing ACV on Quote</label>
    <loops>
        <name>loop_on_QuoteLines</name>
        <label>loop on QuoteLines</label>
        <locationX>530</locationX>
        <locationY>275</locationY>
        <collectionReference>getQuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_CRT_Success_Success_plus_product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Total_Amount_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getQuoteLines</name>
        <label>getQuoteLines</label>
        <locationX>420</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>quoteLines_not_null</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRT_and_Success_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Testing</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRT_and_Success_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>43</locationX>
        <locationY>135</locationY>
        <connector>
            <targetReference>getQuoteLines</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SBQQ__NetAmount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Copado_Robotic_Testing_ACV__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Copado_Robotic_Testing_ACV__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CopadoSuccessCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CopadoSuccessPlusCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
