flows/Create_User_Story_for_Infrastructure_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Case_Owner</name>
        <label>Send Email To Case Owner</label>
        <locationX>155</locationX>
        <locationY>1134</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>caseCreaterEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_User_Story_Field_Value</name>
        <label>Assign User Story Field Value</label>
        <locationX>847</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>newUserStory.copado__User_Story_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Story_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUserStory.copado__Developer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assignee.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUserStory.copado__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUserStory.copado__Functional_Specifications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Functional_Specifications</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUserStory.copado__Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Team.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUserStory.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUserStory.Copado_Work_Item_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUserStory.IT_Ops_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUserStory.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newUserStory.copado__Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_User_Story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_User_Story_Field_On_Case</name>
        <label>Update User Story Field On Case</label>
        <locationX>860</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newUserStory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted to User Story</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_User_Story</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Case_have_a_User_Story</name>
        <label>Does Case have a User Story</label>
        <locationX>505</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Create_New_User_Story</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If User Story Not Exist</defaultConnectorLabel>
        <rules>
            <name>User_Story_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.User_Story__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User_Story_From_Case</targetReference>
            </connector>
            <label>User Story Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Infrastructure_Request</name>
        <label>Is Infrastructure Request</label>
        <locationX>530</locationX>
        <locationY>1153</locationY>
        <defaultConnectorLabel>Not Infrastructure Request</defaultConnectorLabel>
        <rules>
            <name>Infrastructure_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infrastructure_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Story_Name</targetReference>
            </connector>
            <label>Infrastructure Request</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseCreaterEmail</name>
        <dataType>String</dataType>
        <expression>{!Get_Case_Record.CreatedBy.Email}</expression>
    </formulas>
    <formulas>
        <name>linkURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_500}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_500}))</expression>
    </formulas>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>&quot;Case number  &quot;  &amp;{!Get_Case_Record.CaseNumber}&amp;   &quot;  has been converted to a User Story&quot;</expression>
    </formulas>
    <formulas>
        <name>userStoryTitle</name>
        <dataType>String</dataType>
        <expression>{!Get_Case_Record.Subject} &amp; &apos; (Case Number#&apos; &amp; {!Get_Case_Record.CaseNumber} &amp; &apos;)&apos;</expression>
    </formulas>
    <interviewLabel>Create User Story for {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create User Story for Infrastructure Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_User_Story</name>
        <label>Insert User Story</label>
        <locationX>854</locationX>
        <locationY>729</locationY>
        <connector>
            <targetReference>Update_User_Story_Field_On_Case</targetReference>
        </connector>
        <inputReference>newUserStory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>513</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Case_have_a_User_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>842</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Story_Field_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Copado Work Item</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>870</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Infrastructure_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Story_Name</name>
        <label>Get Story Name</label>
        <locationX>341</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_To_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newUserStory.Id</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputAssignments>
            <assignToReference>userStoryName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_User_Story</name>
        <label>Update Case with User Story</label>
        <locationX>865</locationX>
        <locationY>1010</locationY>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <inputReference>Get_Case_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_New_User_Story</name>
        <label>Create New User Story</label>
        <locationX>840</locationX>
        <locationY>315</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <fields>
            <name>User_Story_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>userStoryTitle</elementReference>
            </defaultValue>
            <fieldText>User Story Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assignee</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>copado__Developer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assignee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>copado__User_Story__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Project</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>copado__Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>copado__User_Story__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Functional_Specifications</name>
            <defaultValue>
                <stringValue>{!Get_Case_Record.Description}</stringValue>
            </defaultValue>
            <fieldText>Functional Specifications</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Team</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>copado__Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Team</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>copado__User_Story__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_User_Story_From_Case</name>
        <label>Create User Story From Case</label>
        <locationX>283</locationX>
        <locationY>320</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UserStoryCreatedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Your user created successfully. You can open the user story from &lt;/span&gt;&lt;a href=&quot;https://copado.my.salesforce.com/%7B!newUserStory.Id%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!linkURL}{!Get_Case_Record.User_Story__c}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>387</locationX>
        <locationY>5</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!Get_Case_Record.Owner:User.FirstName}  {!Get_Case_Record.Owner:User.LastName},
Your case has been closed, please see the details of the record below:
Case Number: {!Get_Case_Record.CaseNumber}
Subject: {!Get_Case_Record.Subject}
Status: {!Get_Case_Record.Status}
Closed Reason/Comment: {!Get_Case_Record.Comments}
Converted to User Story {!userStoryName} 
{!linkURL}{!newUserStory.Id}

Thanks</text>
    </textTemplates>
    <variables>
        <name>newUserStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userStoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
