flows/Create_Contract_Review.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Document_list</name>
        <label>Add to Document list</label>
        <locationX>286</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkToUpload</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Each_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Display_File_upload_Error_Message</name>
        <label>Display File upload Error Message</label>
        <locationX>792</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>DisplayFIleUploadErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Document_link</name>
        <label>Populate Document link</label>
        <locationX>520</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractReviewId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Each_File</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Document_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Files_to_be_updated</name>
        <label>Check if Files to be updated</label>
        <locationX>109</locationX>
        <locationY>646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_True_FileUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentDocumentLinkToUpload</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Document_Link</targetReference>
            </connector>
            <label>Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_File_Uploaded</name>
        <label>Is File Uploaded</label>
        <locationX>495</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Display_File_upload_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileUploadedLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Record</targetReference>
            </connector>
            <label>Is True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Agreement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Agreement_Type__c</picklistField>
        <picklistObject>Contract_Review__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CAPP</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Copado_Approved_Partner__c</picklistField>
        <picklistObject>Contract_Review__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FileUploadedLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!ContentDocumentIds})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Contract Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contract Review Record</label>
    <loops>
        <name>Loop_Over_Each_File</name>
        <label>Loop Over Each File</label>
        <locationX>350</locationX>
        <locationY>651</locationY>
        <collectionReference>ContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Document_link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Files_to_be_updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Document_Link</name>
        <label>Create Document Link</label>
        <locationX>41</locationX>
        <locationY>868</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>ContentDocumentLinkToUpload</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Record</name>
        <label>Create New Record</label>
        <locationX>248</locationX>
        <locationY>491</locationY>
        <assignRecordIdToReference>ContractReviewId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Over_Each_File</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Affiliate_agreement__c</field>
            <value>
                <elementReference>Have_we_verified_that_we_do_not_have_an_affiliate_agreement_that_can_be_leverage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>What_type_of_agreement_is_this</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Copado_Approved_Partner__c</field>
            <value>
                <elementReference>Will_the_customer_be_using_a_Copado_approved_partner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Account__c</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InfoSec_Team_Engaged__c</field>
            <value>
                <elementReference>Has_the_InfoSec_team_been_engaged_in_this_negotiation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_FAQ_Talking_Sent__c</field>
            <value>
                <elementReference>Have_you_sent_them_our_Legal_FAQ_doc_and_or_our_Legal_talking_points_via_email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mark_Desrosiers_Approved_The_Request__c</field>
            <value>
                <elementReference>Has_Mark_Desrosiers_approved_the_request_to_start_with_their_template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContractReviewName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Special_Consideration__c</field>
            <value>
                <elementReference>Are_there_other_special_considerations_to_keep_in_mind_for_this_contract_review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Require_Professional_Services__c</field>
            <value>
                <elementReference>Will_the_customer_require_professional_services_from_Copado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rob_Canfield_s_Team_Engaged__c</field>
            <value>
                <elementReference>Has_Rob_Canfield_s_team_been_engaged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Talked_With_Customer_Lawyer__c</field>
            <value>
                <elementReference>Have_you_asked_for_their_lawyer_to_speak_with_our_lawyer_about_why_we_should_sta</elementReference>
            </value>
        </inputAssignments>
        <object>Contract_Review__c</object>
    </recordCreates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>37</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Errormsg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_Upload</name>
        <label>File Upload</label>
        <locationX>499</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_File_Uploaded</targetReference>
        </connector>
        <fields>
            <name>File_Upload_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 8, 8);&quot;&gt;Please upload the file&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisplayFIleUploadErrorMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contract_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Supported Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ContractReviewId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Questions</name>
        <label>Questions</label>
        <locationX>499</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>File_Upload</targetReference>
        </connector>
        <fields>
            <name>Questions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Customer_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract_Review__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Questions_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_type_of_agreement_is_this</name>
                    <choiceReferences>Agreement</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What type of agreement is this?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Questions_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Will_the_customer_require_professional_services_from_Copado</name>
                    <choiceReferences>CAPP</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will the customer require professional services from Copado?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Questions_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Has_Rob_Canfield_s_team_been_engaged</name>
                    <choiceReferences>CAPP</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has the Copado Professional Services team been engaged?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_the_customer_require_professional_services_from_Copado</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Questions_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Will_the_customer_be_using_a_Copado_approved_partner</name>
                    <choiceReferences>CAPP</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has our Partner Success team confirmed that the vendor is approved by our team?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_the_customer_require_professional_services_from_Copado</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Questions_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Has_the_InfoSec_team_been_engaged_in_this_negotiation</name>
                    <choiceReferences>CAPP</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has the InfoSec team been engaged in this negotiation?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Questions_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Have_you_sent_them_our_Legal_FAQ_doc_and_or_our_Legal_talking_points_via_email</name>
                    <choiceReferences>CAPP</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Have you sent them our Legal FAQ doc and/or our Legal talking points via email?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Questions_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Have_we_verified_that_we_do_not_have_an_affiliate_agreement_that_can_be_leverage</name>
                    <choiceReferences>CAPP</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Have we confirmed that Copado does not have an agreement in place with an affiliate of this customer that can be leveraged for this agreement?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Questions_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Have_you_asked_for_their_lawyer_to_speak_with_our_lawyer_about_why_we_should_sta</name>
                    <choiceReferences>CAPP</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Have you asked for their lawyer to speak with our lawyer about why we should start with our template?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Questions_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Has_Mark_Desrosiers_approved_the_request_to_start_with_their_template</name>
                    <choiceReferences>CAPP</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has Mark Desrosiers approved the request to start with their template?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Questions_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Questions_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_there_other_special_considerations_to_keep_in_mind_for_this_contract_review</name>
                    <fieldText>Are there other special considerations to keep in mind for this contract review?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Questions_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Success</description>
        <name>Success</name>
        <label>Success</label>
        <locationX>269</locationX>
        <locationY>889</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(56, 247, 3);&quot;&gt;Contract Review has been created successfully. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;﻿Click&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 70, 240);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;/{!ContractReviewId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 70, 240);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;to view the Record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create New</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Questions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkToUpload</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContractReviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractReviewName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Contract Review for {!Account.recordName}</stringValue>
        </value>
    </variables>
    <variables>
        <name>DisplayFIleUploadErrorMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
