flows/Create_Case_For_Closed_Won_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>PA_Case_Values</name>
        <label>PA Case Values</label>
        <locationX>792</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>resourceCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResourceRequestRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Program Architect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casePA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Premier_Support_Case_Values</name>
        <label>Premier Support Case Values</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>resourceCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResourceRequestRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Success Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casePremSupport</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Services_Case_Values</name>
        <label>Services Case Values</label>
        <locationX>528</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>resourceCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResourceRequestRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implementation Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseServices</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Checks</name>
        <label>Set Case Checks</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>casePA</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>casePremSupport</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseServices</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Cases_Created</name>
        <label>Check Cases Created</label>
        <locationX>660</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Premier_Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casePremSupport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Opportunity_Product.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premier Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premier_Support_Case_Values</targetReference>
            </connector>
            <label>Premier Support Case</label>
        </rules>
        <rules>
            <name>Services_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseServices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Opportunity_Product.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Services_Case_Values</targetReference>
            </connector>
            <label>Services Case</label>
        </rules>
        <rules>
            <name>PA_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>casePA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Opportunity_Product.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PA_Case_Values</targetReference>
            </connector>
            <label>PA Case</label>
        </rules>
    </decisions>
    <description>20220204 -- GC -- Updating flow in accordance to requirements of US-0027846</description>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Resource request for &apos; + {!Iterate_Opportunity_Product.Product_Family__c}</expression>
    </formulas>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() +7</expression>
    </formulas>
    <interviewLabel>Create Case For Closed Won Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case For Closed Won Opportunity</label>
    <loops>
        <name>Iterate_Opportunity_Product</name>
        <label>Iterate Opportunity Product</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Opportunity_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Cases_Created</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>660</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Iterate_Opportunity_Product</targetReference>
        </connector>
        <inputReference>resourceCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Product</name>
        <label>Get Opportunity Product</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetResourceRequest</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Premier Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetResourceRequest</name>
        <label>GetResourceRequest</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Checks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resource_Request</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ResourceRequestRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Product</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2 OR 3 ) AND 4</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business Add-on</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Add-on</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>caseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please review the Opportunity {!Iterate_Opportunity_Product.Opportunity.Name} which contains an Opportunity Product with these details:
- Opportunity Product: {!Iterate_Opportunity_Product.Product2.Name}
- Opportunity Product Family: {!Iterate_Opportunity_Product.Product_Family__c}
- Opportunity Product Code: {!Iterate_Opportunity_Product.ProductCode}</text>
    </textTemplates>
    <textTemplates>
        <name>PremierSupport</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Premier Support&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>casePA</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>casePremSupport</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseServices</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>resourceCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ResourceRequestRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
