flows/Create_Deal_Desk_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post_for_opp</name>
        <label>Chatter Post for opp</label>
        <locationX>894</locationX>
        <locationY>551</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPostForOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_For_Quote</name>
        <label>Chatter Post For Quote</label>
        <locationX>366</locationX>
        <locationY>672</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Success_Message_for_Quote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPostForQuote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>Expansion_Quote</name>
        <choiceText>Expansion Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expansion Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>License_Swap_Quote</name>
        <choiceText>License Swap Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>License Swap Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manual_Order_Form</name>
        <choiceText>Manual Order Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Order Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memo_Language</name>
        <choiceText>Memo Language</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memo Language</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity_Cleanup</name>
        <choiceText>Opportunity Cleanup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Cleanup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Percentage_Based_Feature_Add_On_Quote</name>
        <choiceText>Percentage-Based Feature Add On Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Percentage-Based Feature Add On Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pricing_Support</name>
        <choiceText>Pricing Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Signature_Assistance</name>
        <choiceText>Signature Assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Signature Assistance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard_Quote</name>
        <choiceText>Standard Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Support_Quote</name>
        <choiceText>Support Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Quote</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Current_Object</name>
        <label>Check Current Object</label>
        <locationX>579</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Check Opportunity</label>
        </rules>
        <rules>
            <name>Check_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a3L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote</targetReference>
            </connector>
            <label>Check Quote</label>
        </rules>
    </decisions>
    <formulas>
        <name>currentPageUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!varRequest}</expression>
    </formulas>
    <formulas>
        <name>nameForOpp</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Account.Name}&amp;&apos; - &apos;&amp;LEFT({!Help_With}, 16) &amp;&apos; - &apos;&amp;TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>nameForQuote</name>
        <dataType>String</dataType>
        <expression>{!Get_Quote.SBQQ__Account__r.Name}&amp;&apos; - &apos;&amp;LEFT({!Help_With},16)&amp;&apos; - &apos;&amp;TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Create Deal Desk Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Desk</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Request_Record_for_opportunity</name>
        <label>Create Request Record for opportunity</label>
        <locationX>880</locationX>
        <locationY>404</locationY>
        <assignRecordIdToReference>varRequest</assignRecordIdToReference>
        <connector>
            <targetReference>Chatter_Post_for_opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Desk_Type__c</field>
            <value>
                <elementReference>Help_With</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Descriptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nameForOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Del_Desk_Queue.QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>Get_Opportunity.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Request_Record_for_Quote</name>
        <label>Create Request Record for Quote</label>
        <locationX>358</locationX>
        <locationY>405</locationY>
        <assignRecordIdToReference>varRequest</assignRecordIdToReference>
        <connector>
            <targetReference>Chatter_Post_For_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Quote.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Desk_Type__c</field>
            <value>
                <elementReference>Help_With</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Descriptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nameForQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Quote.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Del_Desk_Queue.QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Chatter_Group_Id</name>
        <label>Get Chatter Group Id</label>
        <locationX>530</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Del_Desk_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal Desk</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>groupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Del_Desk_Queue</name>
        <label>Get Del Desk Queue</label>
        <locationX>666</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Current_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QueueSobject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>880</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Request_Record_for_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>358</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Request_Record_for_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DealDesk</name>
        <label>Deal Desk</label>
        <locationX>390</locationX>
        <locationY>91</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Chatter_Group_Id</targetReference>
        </connector>
        <fields>
            <name>Help_With</name>
            <choiceReferences>Standard_Quote</choiceReferences>
            <choiceReferences>Expansion_Quote</choiceReferences>
            <choiceReferences>Support_Quote</choiceReferences>
            <choiceReferences>Percentage_Based_Feature_Add_On_Quote</choiceReferences>
            <choiceReferences>License_Swap_Quote</choiceReferences>
            <choiceReferences>Manual_Order_Form</choiceReferences>
            <choiceReferences>Pricing_Support</choiceReferences>
            <choiceReferences>Memo_Language</choiceReferences>
            <choiceReferences>Opportunity_Cleanup</choiceReferences>
            <choiceReferences>Signature_Assistance</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Help With</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Descriptions</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;Please click next to submit your request to deal desk.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>914</locationX>
        <locationY>723</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Your request has been submitted successfully. Please click here to go to the new Request: &lt;/span&gt;&lt;a href=&quot;{!currentPageUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!currentPageUrl}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; or click Finish below to return.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_for_Quote</name>
        <label>Success Message for Quote</label>
        <locationX>365</locationX>
        <locationY>830</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>QuoteMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Your request has been submitted successfully. Please click here to go to the new Request: &lt;/span&gt;&lt;a href=&quot;{!currentPageUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!currentPageUrl}&lt;/a&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; or click Finish below to return.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>DealDesk</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterPostForOpportunity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!$User.Id}],

A new Deal Desk Request has been created. Please direct all communication to the request. You will receive an email when this request has been closed.

Thanks,
Deal Desk</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterPostForQuote</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!$User.Id}],

A new Deal Desk Request has been created. Please direct all communication to the request. You will receive an email when this request has been closed.

Thanks,
Deal Desk</text>
    </textTemplates>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>groupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
