flows/CustomFunctionLimitNotification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Hard_Limit_Alert</name>
        <label>Hard Limit Alert</label>
        <locationX>558</locationX>
        <locationY>787</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>HardCreditMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SuccessManagerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Hard Credit Limit</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_soft_limit_alert</name>
        <label>Send soft limit alert</label>
        <locationX>942</locationX>
        <locationY>557</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SoftCreditMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SuccessManagerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Soft Credit Limit</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Credit</name>
        <label>Check Credit</label>
        <locationX>553</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Iterate_FMI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Soft_Limit_matching_criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sfFma__Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_FMI.sfFma__Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_FMI.sfFma__FullName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>copado__CustomFunctionSoftCreditLimit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sfFma__License__r.Salesforce_Org__r.Parent_Account__r.Customer_Success_Manager__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_soft_limit_alert</targetReference>
            </connector>
            <label>Soft Limit matching criteria</label>
        </rules>
        <rules>
            <name>Check_Hard_Credit_Limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sfFma__Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_FMI.sfFma__Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_FMI.sfFma__FullName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>copado__CustomFunctionHardCreditLimit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sfFma__License__r.Salesforce_Org__r.Parent_Account__r.Customer_Success_Manager__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hard_Limit_Alert</targetReference>
            </connector>
            <label>Check Hard Credit Limit</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260)) + &quot;/lightning/r/Salesforce_Org__c/&quot; + {!$Record.sfFma__License__r.Salesforce_Org__c} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>AccountOwnerEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.sfFma__License__r.Salesforce_Org__r.Parent_Account__r.Salesforce_CSM__r.Email}</expression>
    </formulas>
    <formulas>
        <name>HardLimitEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.sfFma__License__r.Salesforce_Org__r.Parent_Account__r.Customer_Success_Manager__r.Email}</expression>
    </formulas>
    <formulas>
        <name>SuccessManagerEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.sfFma__License__r.Salesforce_Org__r.Parent_Account__r.Customer_Success_Manager__r.Email}</expression>
    </formulas>
    <interviewLabel>U {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Function Limit Notification</label>
    <loops>
        <name>Iterate_FMI</name>
        <label>Iterate FMI</label>
        <locationX>269</locationX>
        <locationY>568</locationY>
        <collectionReference>Get_Feature_Parameter_Integer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Credit</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Feature_Parameter_Integer</name>
        <label>Get Feature Parameter Integer</label>
        <locationX>127</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_FMI</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>sfFma__License__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sfFma__License__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sfFma__FullName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>copado__CustomFunctionSoftCreditLimit</stringValue>
            </value>
        </filters>
        <filters>
            <field>sfFma__FullName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>copado__CustomFunctionHardCreditLimit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sfFma__FeatureParameterInteger__c</object>
        <sortField>sfFma__Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Feature_Parameter_Integer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sfFma__Value__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sfFma__FullName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>copado__CustomFunctionCreditUsage</stringValue>
            </value>
        </filters>
        <filters>
            <field>sfFma__Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sfFma__FeatureParameterInteger__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HardCreditMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,
Customer name - {!$Record.sfFma__License__r.Salesforce_Org__r.Name}&amp;nbsp;- {!$Record.sfFma__Value__c} of function credits consumed - date is {!$Record.LastModifiedDate}of credit reset of account  - {!AccountLink}
Thanks</text>
    </textTemplates>
    <textTemplates>
        <name>SoftCreditMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,
Customer name - {!$Record.sfFma__License__r.Salesforce_Org__r.Name} -  {!$Record.sfFma__Value__c}  of function credits 
consumed -  date is {!$Record.LastModifiedDate} of credit reset of account - {!AccountLink}

Thanks</text>
    </textTemplates>
</Flow>
