flows/IF_Key_Task_is_Unblocked_or_Taken_Off_Hold.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error1</name>
        <label>Error1</label>
        <locationX>1976</locationX>
        <locationY>455</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>KTDFlowAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error2</name>
        <label>Error2</label>
        <locationX>1712</locationX>
        <locationY>911</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>KTDFlowAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error3</name>
        <label>Error3</label>
        <locationX>1448</locationX>
        <locationY>1031</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>KTDFlowAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error4</name>
        <label>Error4</label>
        <locationX>528</locationX>
        <locationY>1271</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>KTFlowAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error5</name>
        <label>Error5</label>
        <locationX>1184</locationX>
        <locationY>2087</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>KTFlowAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error6</name>
        <label>Error6</label>
        <locationX>920</locationX>
        <locationY>2207</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>KTDFlowAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error7</name>
        <label>Error7</label>
        <locationX>656</locationX>
        <locationY>2663</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>KTDFlowAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Each_Extracted_Dependent_Key_Task_to_a_Temporary_Collection</name>
        <label>Add Each Extracted Dependent Key Task to a Temporary Collection</label>
        <locationX>264</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>AllDependentKTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_the_Dependent_KT_for_each_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_the_same_KTDs_Where_Spark_is_the_Controlling_KT_Get_the_Dependent_KT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass1ToDependentKTD</name>
        <label>ass1ToDependentKTD</label>
        <locationX>264</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>Next_Loop_the_KTDs_Where_Spark_KT_is_the_Dependent_KT.Dependent_is_Blocked_or_On_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDependentKTDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Next_Loop_the_KTDs_Where_Spark_KT_is_the_Dependent_KT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Loop_the_KTDs_Where_Spark_KT_is_the_Dependent_KT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>On_our_Dependent_KTs_Set_Blocked_or_On_Hold_Controllers_to_1_and_Add_to_a_KT_Col</name>
        <label>On our Dependent KTs Set Blocked or On Hold Controllers to 1 and Add to a KT Coll</label>
        <locationX>264</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>Now_We_can_Loop_over_our_All_Dependent_KTs_Collection.Blocked_or_On_Hold_Controllers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcKTBlockedorOnHoldControllers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDependentKTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Now_We_can_Loop_over_our_All_Dependent_KTs_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Now_We_can_Loop_over_our_All_Dependent_KTs_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Control_is_Blocked_On_Hold_1_Add_to_Temp_KTD_Coll_and_Increment_Counter</name>
        <label>Set Control is Blocked On Hold 1 Add to Temp KTD Coll and Increment Counter</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Second_Loop_KTDs_Where_Spark_is_the_Controlling_KT.Control_is_Blocked_or_On_Hold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newControllingKTDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Second_Loop_KTDs_Where_Spark_is_the_Controlling_KT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Second_Loop_KTDs_Where_Spark_is_the_Controlling_KT</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>KTDFlowAlert</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Oops - you made a mistake! Cannot update the Key Task Dependency.</stringValue>
        </value>
    </constants>
    <constants>
        <name>KTFlowAlert</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Oops - you made a mistake! Cannot update the Key Task.</stringValue>
        </value>
    </constants>
    <description>Because Salesforce has a limit of only 2 Master-Detail Relationships per Object and the Key Task to G.A. object already has Master-Detail with both the Team - Release Plan object and the Key Task Dependency object (via field Controlling Key Task to G.A.), this Flow provides the solution to overcome this limit and to update both Controlling and Dependent Key Task Dependency records and to also update the Controlling Dependency Record&apos;s off-side Dependent Key Task to G.A. record to simulate a Rollup Summary from the Key Task Dependency record&apos;s Dependent Key Task to G.A. (Lookup Field).  All upstream Rollup calculations from that point forward are native Salesforce Rollup Summaries.</description>
    <formulas>
        <name>calcKTBlockedorOnHoldControllers</name>
        <dataType>Number</dataType>
        <expression>{!Now_We_can_Loop_over_our_All_Dependent_KTs_Collection.Blocked_or_On_Hold_Controllers__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>IF Key Task is Unblocked or Taken Off Hold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IF Key Task is Unblocked or Taken Off Hold</label>
    <loops>
        <name>Loop_the_same_KTDs_Where_Spark_is_the_Controlling_KT_Get_the_Dependent_KT</name>
        <label>Loop the same KTDs Where Spark is the Controlling KT Get the Dependent KT</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <collectionReference>For_same_KTDs_Where_Spark_is_the_Controlling_KT_Get_the_Dependent_KT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Extract_the_Dependent_KT_for_each_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Now_We_can_Loop_over_our_All_Dependent_KTs_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Next_Loop_the_KTDs_Where_Spark_KT_is_the_Dependent_KT</name>
        <label>Next Loop the KTDs Where Spark KT is the Dependent KT</label>
        <locationX>176</locationX>
        <locationY>2207</locationY>
        <collectionReference>Now_that_Controlling_KTDs_are_done_Get_KTDs_Where_Spark_KT_is_the_Dependent_KT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass1ToDependentKTD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateDependentKTDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Now_We_can_Loop_over_our_All_Dependent_KTs_Collection</name>
        <label>Now We can Loop over our All Dependent KTs Collection</label>
        <locationX>176</locationX>
        <locationY>1631</locationY>
        <collectionReference>AllDependentKTs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>On_our_Dependent_KTs_Set_Blocked_or_On_Hold_Controllers_to_1_and_Add_to_a_KT_Col</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Now_Update_our_Dependent_KTs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Second_Loop_KTDs_Where_Spark_is_the_Controlling_KT</name>
        <label>Second Loop KTDs Where Spark is the Controlling KT</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>First_Get_KTDs_Where_Spark_is_the_Controlling_KT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Control_is_Blocked_On_Hold_1_Add_to_Temp_KTD_Coll_and_Increment_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Third_Update_KTDs_Where_Spark_is_the_Controlling_KT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Extract_the_Dependent_KT_for_each_Item</name>
        <label>Extract the Dependent KT for each Item</label>
        <locationX>264</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Each_Extracted_Dependent_Key_Task_to_a_Temporary_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_the_same_KTDs_Where_Spark_is_the_Controlling_KT_Get_the_Dependent_KT.Dependent_Key_Task_to_G_A__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Key_Task_to_G_A__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Blocked_or_On_Hold_Controllers__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>First_Get_KTDs_Where_Spark_is_the_Controlling_KT</name>
        <label>First Get KTDs Where Spark is the Controlling KT</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Second_Loop_KTDs_Where_Spark_is_the_Controlling_KT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Controlling_Key_Task_to_G_A__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Key_Task_Dependency__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Control_is_Blocked_or_On_Hold__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>For_same_KTDs_Where_Spark_is_the_Controlling_KT_Get_the_Dependent_KT</name>
        <label>For same KTDs Where Spark is the Controlling KT Get the Dependent KT</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_the_same_KTDs_Where_Spark_is_the_Controlling_KT_Get_the_Dependent_KT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Controlling_Key_Task_to_G_A__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Key_Task_Dependency__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dependent_Key_Task_to_G_A__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Now_that_Controlling_KTDs_are_done_Get_KTDs_Where_Spark_KT_is_the_Dependent_KT</name>
        <label>Now that Controlling KTDs are done Get KTDs Where Spark KT is the Dependent KT</label>
        <locationX>176</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Next_Loop_the_KTDs_Where_Spark_KT_is_the_Dependent_KT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error6</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dependent_Key_Task_to_G_A__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Key_Task_Dependency__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dependent_is_Blocked_or_On_Hold__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Now_Update_our_Dependent_KTs</name>
        <label>Now Update our Dependent KTs</label>
        <locationX>176</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Now_that_Controlling_KTDs_are_done_Get_KTDs_Where_Spark_KT_is_the_Dependent_KT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error5</targetReference>
        </faultConnector>
        <inputReference>newDependentKTs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Third_Update_KTDs_Where_Spark_is_the_Controlling_KT</name>
        <label>Third Update KTDs Where Spark is the Controlling KT</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>For_same_KTDs_Where_Spark_is_the_Controlling_KT_Get_the_Dependent_KT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error2</targetReference>
        </faultConnector>
        <inputReference>newControllingKTDs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateDependentKTDs</name>
        <label>updateDependentKTDs</label>
        <locationX>176</locationX>
        <locationY>2543</locationY>
        <faultConnector>
            <targetReference>Error7</targetReference>
        </faultConnector>
        <inputReference>newDependentKTDs</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Get_KTDs_Where_Spark_is_the_Controlling_KT</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <object>Key_Task_to_G_A__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllDependentKTs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Key_Task_to_G_A__c</objectType>
    </variables>
    <variables>
        <name>newControllingKTDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Key_Task_Dependency__c</objectType>
    </variables>
    <variables>
        <name>newDependentKTDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Key_Task_Dependency__c</objectType>
    </variables>
    <variables>
        <name>newDependentKTs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Key_Task_to_G_A__c</objectType>
    </variables>
</Flow>
