flows/Notify_QA_Engineer_User_Story_Staging.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Post in Chatter that the US is ready to test in Staging</description>
        <name>Staging_QA_Status</name>
        <label>Staging QA Status</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Loop_QA_Engineer_Members</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!Loop_QA_Engineer_Members.copado__Member__c}] The US is currently in Staging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Environment_Choice</name>
        <label>Environment Choice</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Staging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEnviroment.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Staging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_QA_Engineer_Members</targetReference>
            </connector>
            <label>Staging</label>
        </rules>
        <rules>
            <name>BP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetEnviroment.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copado BP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEnviroment.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Pack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAsPackagingInProgress</targetReference>
            </connector>
            <label>BP</label>
        </rules>
    </decisions>
    <description>Notify the QA Eng that a US change the environment to Staging</description>
    <interviewLabel>Notify QA Engineer User Story Staging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify QA Engineer User Story Staging</label>
    <loops>
        <name>Loop_QA_Engineer_Members</name>
        <label>Loop QA Engineer Members</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_QA_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Staging_QA_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_QA_Member</name>
        <label>Get QA Member</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEnviroment</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>copado__Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Team__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA Engineer</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA Functional Engineer</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA Automation Engineer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Team_Member__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Member__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEnviroment</name>
        <label>GetEnviroment</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Environment_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Environment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetAsPackagingInProgress</name>
        <label>SetAsPackagingInProgress</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Packaging in Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QA_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Team__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Environment__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
