flows/Order_ACV_on_Contract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>sum_of_Order_ACV</name>
        <label>sum of Order ACV</label>
        <locationX>792</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>orderACV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Order.Quote_ACV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstYrARR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Order.X1st_yr_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderCurrentARR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Order.Current_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nonStandardACV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Order.Non_Standard_ACV__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Null</name>
        <label>check Null</label>
        <locationX>335</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_on_Order</targetReference>
            </connector>
            <label>if not null</label>
        </rules>
    </decisions>
    <description>This flow updates the Order ACV on Contract when an Order gets released. This flow is called from process builder &apos;Update Order Contract ACV and TCV from Opportunity&apos;</description>
    <interviewLabel>Order ACV on Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order ACV on Contract</label>
    <loops>
        <name>loop_on_Order</name>
        <label>loop on Order</label>
        <locationX>535</locationX>
        <locationY>218</locationY>
        <collectionReference>getOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sum_of_Order_ACV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Contract_ACV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOrder</name>
        <label>getOrder</label>
        <locationX>176</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>kuga_sub__ContractNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>kugo2p__SalesOrder__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quote_ACV__c</queriedFields>
        <queriedFields>Current_ARR__c</queriedFields>
        <queriedFields>X1st_yr_ARR__c</queriedFields>
        <queriedFields>Non_Standard_ACV__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Contract_ACV</name>
        <label>update Contract ACV</label>
        <locationX>795</locationX>
        <locationY>57</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Non_Standard_ACV__c</field>
            <value>
                <elementReference>nonStandardACV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_1st_yr_ARR__c</field>
            <value>
                <elementReference>firstYrARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_ACV__c</field>
            <value>
                <elementReference>orderACV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Current_ARR__c</field>
            <value>
                <elementReference>orderCurrentARR</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOrder</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstYrARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>nonStandardACV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>orderACV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>orderCurrentARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
