flows/Send_Email_Alert_When_Request_Status_is_Closed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_When_Request_is_Closed</name>
        <label>Send Email When Request is Closed</label>
        <locationX>372</locationX>
        <locationY>603</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>requestor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>537</locationX>
        <locationY>390</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Status_is_Closed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Not Processed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date_Time</targetReference>
            </connector>
            <label>Request Status is Closed</label>
        </rules>
        <rules>
            <name>Check_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_n_Progress_Date_Time</targetReference>
            </connector>
            <label>Check In Progress</label>
        </rules>
        <rules>
            <name>Check_Pending</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending - Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending - Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending - Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Deal_Desk_With_Pending_Date</targetReference>
            </connector>
            <label>Check Pending</label>
        </rules>
    </decisions>
    <formulas>
        <name>requestor</name>
        <dataType>String</dataType>
        <expression>{!$Record.Requestor__r.Email}</expression>
    </formulas>
    <formulas>
        <name>RequestURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Send Email Alert When Request Status is Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Alert When Request Status is Closed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Close_Date_Time</name>
        <label>Update Close Date Time</label>
        <locationX>371</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>Send_Email_When_Request_is_Closed</targetReference>
        </connector>
        <inputAssignments>
            <field>Close_Date_Time__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deal_Desk_With_Pending_Date</name>
        <label>Update Deal Desk With Pending Date</label>
        <locationX>595</locationX>
        <locationY>587</locationY>
        <inputAssignments>
            <field>Pending_Date_Time__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_n_Progress_Date_Time</name>
        <label>Update n Progress Date Time</label>
        <locationX>794</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>In_Progress_Date_Time__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <object>Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,
Your Deal Desk Request {!$Record.Name} has been closed. Please click here for details: {!RequestURL}

Thanks
Deal Desk</text>
    </textTemplates>
    <textTemplates>
        <name>subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} Has Been Closed</text>
    </textTemplates>
</Flow>
