flows/Update_EBQ_Filed_From_Contact_To_Campaign_Member.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Update EBQ Filed From Contact To Campaign Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update EBQ Filed From Contact To Campaign Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign_Member_Records</name>
        <label>Get Campaign Member Records</label>
        <locationX>534</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EBQ_Field_From_Contact_To_Campaign_Member</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_EBQ_Field_From_Contact_To_Campaign_Member</name>
        <label>Update EBQ Field From Contact To Campaign Member</label>
        <locationX>539</locationX>
        <locationY>611</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>EBQ_Added__c</field>
            <value>
                <elementReference>$Record.EBQ_Added__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Cadence__c</field>
            <value>
                <elementReference>$Record.EBQ_Cadence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Comments__c</field>
            <value>
                <elementReference>$Record.EBQ_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Connected__c</field>
            <value>
                <elementReference>$Record.EBQ_Connected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Date__c</field>
            <value>
                <elementReference>$Record.EBQ_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_First_Touch__c</field>
            <value>
                <elementReference>$Record.EBQ_First_Touch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Next_Step__c</field>
            <value>
                <elementReference>$Record.EBQ_Next_Step__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Rating__c</field>
            <value>
                <elementReference>$Record.EBQ_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EBQ_Rep__c</field>
            <value>
                <elementReference>$Record.EBQ_Rep2__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Campaign_Member_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EBQ_Added__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EBQ_Cadence__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EBQ_Comments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EBQ_Connected__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EBQ_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EBQ_First_Touch__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EBQ_Next_Step__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EBQ_Rating__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EBQ_Rep2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
