flows/Update_Contact_Region.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>No_Country_matches</name>
        <label>No Country matches</label>
        <locationX>1153</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_Contact_Region</name>
        <label>update Contact Region</label>
        <locationX>808</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCountry.Region__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_Region_on_Contact</name>
        <label>update Region on Contact</label>
        <locationX>970</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCountryCode.Region__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Contact_is_New_Country_update</name>
        <label>Check Contact is New/Country update</label>
        <locationX>154</locationX>
        <locationY>362</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_New_Country_update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCountry</targetReference>
            </connector>
            <label>Contact is New/Country update</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Country_Null</name>
        <label>check Country Null</label>
        <locationX>957</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>No_Country_matches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Country_Code_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Region_on_Contact</targetReference>
            </connector>
            <label>Is Country Code not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Null</name>
        <label>check Null</label>
        <locationX>573</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>getCountryCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Contact_Country_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Contact_Region</targetReference>
            </connector>
            <label>Is Contact Country match</label>
        </rules>
    </decisions>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Contact Region {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Region</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCountry</name>
        <label>getCountry</label>
        <locationX>416</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCountryCode</name>
        <label>getCountryCode</label>
        <locationX>794</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Country_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>37</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Check_Contact_is_New_Country_update</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
