flows/Update_Clickdeploy_Values_On_CampaignMembers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Values_From_Contact</name>
        <label>Assign Values From Contact</label>
        <locationX>927</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ClickDeploy_utm_campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_record.ClickDeploy_utm_campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClickDeploy_utm_content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_record.ClickDeploy_utm_content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClickDeploy_utm_medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_record.ClickDeploy_utm_medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClickDeploy_utm_source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_record.ClickDeploy_utm_source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClickDeploy_utm_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact_record.ClickDeploy_utm_term__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Values_From_Lead</name>
        <label>Assign Values From Lead</label>
        <locationX>907</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>$Record.ClickDeploy_utm_campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead_record.ClickDeploy_utm_campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClickDeploy_utm_content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead_record.ClickDeploy_utm_content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClickDeploy_utm_medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead_record.ClickDeploy_utm_medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClickDeploy_utm_source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead_record.ClickDeploy_utm_source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClickDeploy_utm_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead_record.ClickDeploy_utm_term__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_Campaign_Members_type</name>
        <label>Check for Campaign Members Type</label>
        <locationX>121</locationX>
        <locationY>341</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact_record</targetReference>
            </connector>
            <label>Check for contact</label>
        </rules>
        <rules>
            <name>Check_for_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_lead_record</targetReference>
            </connector>
            <label>Check for lead</label>
        </rules>
    </decisions>
    <interviewLabel>Update Clickdeploy Values On CampaignMembers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Clickdeploy Values On CampaignMembers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contact_record</name>
        <label>Get contact record</label>
        <locationX>587</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_From_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_lead_record</name>
        <label>Get lead record</label>
        <locationX>591</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_From_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>17</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>Check_for_Campaign_Members_type</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
