flows/Update_Lead_Region.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>No_Country_matches</name>
        <label>No Country matches</label>
        <locationX>1142</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_Region</name>
        <label>update Region</label>
        <locationX>786</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCountry.Region__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_Region_on_Case</name>
        <label>update Region on Case</label>
        <locationX>997</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCountryCode.Region__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_Country_Null</name>
        <label>check Country Null</label>
        <locationX>984</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>No_Country_matches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Country_Code_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Region_on_Case</targetReference>
            </connector>
            <label>Is Country Code not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Null</name>
        <label>check Null</label>
        <locationX>541</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>getCountryCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead_Country_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Region</targetReference>
            </connector>
            <label>Is Lead Country match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_is_New_Country_update</name>
        <label>Check record is New/Country update</label>
        <locationX>130</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_is_New_Country_update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCountry</targetReference>
            </connector>
            <label>record is New/Country update</label>
        </rules>
    </decisions>
    <description>This will update Lead Region on the basis of Country</description>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Lead Region {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead Region</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCountry</name>
        <label>getCountry</label>
        <locationX>380</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCountryCode</name>
        <label>getCountryCode</label>
        <locationX>760</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Country_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>12</locationX>
        <locationY>16</locationY>
        <connector>
            <targetReference>Check_record_is_New_Country_update</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Country__mdt</objectType>
    </variables>
</Flow>
